* {
    margin: 0%;
    padding: 0%;
}
nav {
    display: flex;
    width: 80%;
    margin: auto 10%;
    justify-content: space-around;
    padding: 50px;
}
nav .logo {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    
}
.menu-icon {
    display: none;
}
nav ul li  {
    margin: 2% 4% auto 2%;
    
}
nav ul li a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
nav ul li a:hover {
    border-bottom: 1.5px solid black;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "text-content hero-img";
    margin-top: 2%;
}
.hero-img {
    grid-area: hero-img;
}
.hero-img img {
    max-width: 100%;
}
.text-content {
    grid-area: text-content;
   /* text-align: center;*/
    padding-top: 10%;
    padding-left: 10%;
}
#new-text {
    padding: 1% 2%;
    margin-right: 2%;
    background-color: black;
    color: #fff;
    border-radius: 20px;
}
.headline {
    margin-bottom: 5%;
    font-size: 20px;
}
.punchline {
    
    font-size: 50px;
    font-weight: bolder;
}