* {
    margin: 0%;
    padding: 0%;
}
nav {
    display: flex;
    width: 80%;
    margin: 5% 10%;
    justify-content: space-between;
    
}
nav .logo {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    visibility: visible;
}
.menu-icon {
    display: none;
}
nav ul li  {
    margin: 2% 4% auto 2%;
    
}
nav ul li a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    
}
nav ul li a:hover {
    border-bottom: 1px solid black;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "text-content hero-img";
    margin-top: 2%;
}
.hero-img {
    grid-area: hero-img;
}
.hero-img img {
    max-width: 100%;
}
.text-content {
    grid-area: text-content;
   /* text-align: center;*/
    padding-top: 10%;
    padding-left: 20%;
}
#new-text {
    padding: 1% 2%;
    margin-right: 2%;
    background-color: black;
    color: #fff;
    border-radius: 20px;
}
.headline {
    margin-bottom: 5%;
    font-size: 2vw;
}
.punchline {
    font-size: 3vw;
    font-weight: bolder;
}
.tagline {
    margin-top: 5%;
    font-size: 1.5vw;
}
.buttons {
    margin-top: 5%;
    
}
.buttons #schedule-button {
    margin-right: 5%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    width: 40%;
    font-size: 1.2vw;
    
}
.buttons span {
    font-size: 1.4vw;
}
@media only screen and (max-width:650px){
    nav {
        flex-direction: column;
        
    }
    nav .menu-icon {
        display: block;
    }
    nav .logo {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 80%;
        margin: 5% 10%;
        z-index: 1;
        background-color: #fff;
        box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
        visibility: hidden;
    }
    #close-icon {
        display: none;
        
    }
    #open-icon{
        font-size: 20px;
    }
    nav ul li {
        text-align: center;
        padding: 2%;
        
    }
    nav ul li a:hover {
        border: none;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "hero-img"
            "text-content";
        
    }
    .wrapper img {
        margin-top: -32%;
    }
    .wrapper .text-content {
        padding-top: 0;
        margin-top: -1%;
        padding-left: 10%;
    }
    .headline {
        font-size: 2.5vh;
    }
    .punchline {
        font-size: 4vh;
    }
    .tagline {
        font-size: 2.5vh;
    }
    .buttons #schedule-button {
        font-size: 9px;
        
    }
    .buttons span {
        font-size: 2vh;
    }
}